<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <a href="/part1" class="button">Atividades do GCI</a>
        <a href="/part2" class="button">Portfólio de Desenhos</a>
    </div>
</body>
</html>