<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Atividades do GCI</h1>
    <a href="/" class="back-button">Voltar para a Página Principal</a>
</body>
</html>